@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #0f172a; /* slate-900 */
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.image-inverted{
  filter: invert(100%);
}

.nav-link{
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: 1px;
}